" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set surround
set commentary
" Don't use Ex mode, use Q for formatting.
map Q gq

let mapleader = ' '
nnoremap <Leader>est :<C-u>vsplit ~/.ideavimrc<CR>
nnoremap <Leader>sst :<C-u>source ~/.ideavimrc<CR>

nnoremap j gj
nnoremap k gk

nnoremap ;; $
nnoremap '' ^

nnoremap <Down> 12j
nnoremap <Up> 12k
nnoremap <Left> 10h
nnoremap <Right> 10l
vnoremap <Down> 12j
vnoremap <Up> 12k
vnoremap <Left> 10h
vnoremap <Right> 10l

nnoremap x "_x
vnoremap x "_x

nnoremap X "_d

nnoremap [c :<C-u>action VcsShowPrevChangeMarker<CR>
nnoremap ]c :<C-u>action VcsShowNextChangeMarker<CR>

nnoremap [e :<C-u>action GotoPreviousError<CR>
nnoremap ]e :<C-u>action GotoNextError<CR>

nnoremap K :<C-u>action QuickJavaDoc<CR>
nnoremap <Leader>df :<C-u>action GotoDeclaration<CR>
nnoremap <Leader>ty :<C-u>action GotoTypeDeclaration<CR>
nnoremap <Leader>rf :<C-u>action GotoImplementation<CR>
nnoremap <Leader>rn :<C-u>action RenameElement<CR>
nnoremap <Leader>ac :<C-u>action ShowIntentionActions<CR>
nnoremap <C-S-p> :<C-u>action GotoAction<CR>
noremap <C-g> :<C-u>action TextSearchAction<CR>

nnoremap <C-S-j> :<C-u>action MoveLineDown<CR>
nnoremap <C-S-k> :<C-u>action MoveLineUp<CR>
vnoremap <C-S-j> :<C-u>action MoveLineDown<CR>
vnoremap <C-S-k> :<C-u>action MoveLineUp<CR>

nnoremap <C-/> :<C-u>action CommentByLineComment<CR>
vnoremap <C-/> :<C-u>action CommentByLineComment<CR>

nnoremap <C-p> :<C-u>action GotoFile<CR>

nnoremap <A-h> :<C-u>action PreviousTab<CR>
nnoremap <A-l> :<C-u>action NextTab<CR>


" search
nnoremap / :<C-u>action Find<CR>


set clipboard+=unnamed

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
